
   <div id="footer-container">
    <!--<div id="header">
      <p>Header</p>
      </div>-->
      <div id="footer-data-social">
        <a href="mailto:jonlee50@hotmail.com" class="fa fa-envelope"></a>
        |
        <a href="#" class="fa fa-linkedin"></a>
    </div>

    <div id="footer-data-location">
        <h2>A Cleaner Future</h2>
        <p style="font-size:15px">
            44 St. Hildas Avenue
            <br> Toronto Ontario
            <br> M4N 2P4
            <br> Canada
            <br>
            <br> (647) 573-5718</p>
            <br>
    </div>

    <div id="footer-data-hours">
        <h2>Hours</h2>
        <p style="font-size:15px">
          Mon.&nbsp;&nbsp;&nbsp;9:00 a.m. – 5:00 p.m.
          <br> Tue.&nbsp;&nbsp;&nbsp;&nbsp;9:00 a.m. – 5:00 p.m.
          <br> Wed.&nbsp;&nbsp;9:00 a.m. – 5:00 p.m.
          <br> Thu.&nbsp;&nbsp;&nbsp;9:00 a.m. – 5:00 p.m.
          <br> Fri.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00 a.m. – 5:00 p.m.
          <br> Sat.&nbsp;&nbsp;&nbsp;Closed
          <br> Sun.&nbsp;&nbsp;Closed
</p>
    </div>

    <!--<div id="footer">
      <p>Footer</p>-->
  </div>