<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Envirofit | Home</title>

<!-- CSS SECTION -->
<link rel='stylesheet' href='/stylesheets/style.css' media='screen' />

</head>

<body>
    <a href="/"><img class="headerlogo" src="assets/EnvirofitLogo3.jpg" alt="Envirofit Logo"></a>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/case/">Case Studies</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    
</body>
</html>