<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Envirofit | Home</title>

<!-- CSS SECTION -->
<link rel='stylesheet' href='/stylesheets/style.css' media='screen' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--<a href="/"><img class="headerlogo" src="assets/EnviroFitLogoV1.02.jpg" alt="Envirofit Logo"></a>-->
    <ul class="nav">
        <a href="/"><img class="headerlogo" src="assets/EnviroFitLogoV1.02.jpg" alt="Envirofit Logo"></a>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/case/">Case Studies</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    
</body>
</html>